<div class="box" id="contact">
           
    <h1>Contact Us</h1>
   
    <form method="post" action="web-service.php" novalidate>
        
        <div class="filling">
            <div class="form-box">
                <input type="text" id="name" placeholder="name">
            </div>

            <div class="form-box">
                <input type="text" id="email" placeholder="email">
            </div>    

            <div class="form-box">
                <input type="text" id="subject" placeholder="subject">
            </div>
        </div> 
            
        <div class="comment">
            <div class="form-box">
                <textarea id="message" placeholder="comment" rows="4" cols="50"></textarea>
            </div> 
        </div>  
            
        <div class="sending">    
            <input style="padding:50px" type="submit" id="send" value="Send Email">
        </div>
        
    </form> 
        
        <div class="feedback">
        </div>         
            
</div>